/* CSS Style */

@font-face 
{
	/* Police Générale */

	font-family: 'Montserrat';
	src: url('../fonts/Montserrat/Montserrat-Regular.woff') format('woff');
}

@font-face 
{
	/* Police Le délice des papilles */

	font-family: 'Dancing';
	src: url('../fonts/dancing/DancingScript-Regular.woff') format('woff');
}

body
{
	font-family:Montserrat;
/*  font-size: 16px; */
/*  RESET   */
    margin:0; 
    padding:0;
}

/* conteneurs */
.Flex
{
	width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
	flex-wrap:wrap;
	margin: 0 auto; /* centrage */
/*  border: 1px solid green;	/* DEBUG */
}

/* élements */

#B-Bloc, #T-Bloc-Menu
{
	width: 100%;
    background-color:#579c87;
	text-align: center;
/*	border: 1px solid blue;	/* DEBUG */
}

#B-Bloc
{
	width: 100%;
	position:fixed;
	bottom:0em;
}

header
{
	margin: 3.95em 0;
/*	border: 1px solid red;	/* DEBUG */
}

a
{
	font-size: 3em;
	color: #fdcb46; /* Jaune foncé */
	text-decoration:none;
}

.ML
{
	padding-left:2.5em;
	padding-bottom:2.45em;
	padding-top:1.5em;
	float:left;
	
}

.CT
{
	padding-right:2.40em;
	padding-bottom:2.45em;
	padding-top:1.5em;
	float:right;
}

/* Mise en pages des menus */

.Carte
{
	font-size:3.2em;
	text-align: center;
	margin-top:-0.76em;
	margin-bottom:4.12em;
	padding-bottom: 3.6em;
	padding: 1.2em 3.05em; /* H - L */
/*	border: 1px solid red; */
}

.MLDP-F
{
	background:
	-webkit-linear-gradient(to right, #0431df, #0887fb);
	background:
	-moz-linear-gradient(to right, #0431df, #0887fb);
	background:
	-o-linear-gradient(to right, #0431df, #0887fb);
	background:
	linear-gradient(to right, #0431df, #0887fb);

	-webkit-background-clip: text;
	-moz-background-clip: text;
	-o-background-clip: text;
	background-clip:text;
	color:transparent;

	font-family:Dancing;
	font-size: 1.315em;
}

/* Menu - Le délice des papilles */

.LDP-Menu
{
	font-family: 'Dancing';
	font-size:1.552em;
	background-color:#f9f9f9;
	text-align: center;
	box-shadow:0 0 16px #f1ebe9;
	padding-top:0.69em;
	padding-bottom:6.7em;
/*	border: 1px solid red; /* DEBUG */
}

.LDP-Menu h5
{
	display:inline-block;
	font-size:0.33em;
	text-align: center;
/*	border: 1px solid red; /* DEBUG */
}

.Deco-PBC-L
{
	position: relative;
	top:0.5em;
	left:-3.15em;
	float: left;
}

.Deco-PBC-R
{
	position: relative;
	top:0.5em;
	right:-3.33em;
	float: right;
}

.Deco-PBCT-L
{
	position: relative;
	font-size: 0.5em;
	top:1em;
	left:-6.75em;

	float: left;
}

.Deco-PBCT-R
{
	position: relative;
	font-size: 0.5em;
	top:1em;
	right:-7.25em;

	float: right;
}

.Deco-PBT-L
{
	position: relative;
	font-size: 0.5em;
	top:1em;
	left:-6.9em;
	float: left;
}

.Deco-PBT-R
{
	position: relative;
	font-size: 0.5em;
	top:1em;
	right:-7.75em;
	float: right;
}

.P-Left
{
	position: relative;
	top:-0.3em;
	left:7.75em;

	font-size:0.38em; /* 0.25 */
	text-align: left;
	float: left;
/*	border: 1px solid blue; */
}

.P-Right
{
	position: relative;
	top:-0.009em;
	right:6.3em;

	font-size:0.35em; /* 0.35 */
	text-align: right;
	float: right;
/*	border: 1px solid red; */

}

@media screen and (min-width:1500px) and (orientation: landscape)    /* 95em - Grand Ecran FHD+  */
{
    .Flex2
	{
		width:95em;
		display:flex;
		justify-content:center;
		align-items:center;
		flex-wrap:wrap;
	/*	border: 1px solid green;	/* DEBUG */
    }
    
    /* Obsolète */
	.OBS
	{
		display: none;
	}
}

@media screen and (min-width:1300px) and (max-width:1519px) and (orientation: landscape)    /* 80em - Grand Ecran FHD+  */
{

}

@media screen and (min-width:1090px) and (max-width:1299px) and (orientation: landscape)    /* 68em - Ecran FHD  	*/
{

}

@media screen and (min-width:785px) and (max-width:1089px) and (orientation: landscape)    	/* 49em - Tablettes  	*/
{

}

@media screen and (min-width:785px) and (max-width:1089px) and (orientation: portrait)    	/* 49em - Tablettes  	*/
{

}

@media screen and (min-width:657px) and (max-width:784px) and (orientation: landscape)    	/* 40em - Smartphones  	*/
{

}

@media screen and (min-width:657px) and (max-width:784px) and (orientation: portrait)    	/* 40em - Smartphones  	*/
{

}

@media screen and (min-width:368px) and (max-width:656px) and (orientation: landscape)    	/* 23em - Smartphones  	*/
{

}

@media screen and (min-width:368px) and (max-width:656px) and (orientation: portrait)    	/* 23em - Smartphones  	*/
{

}

@media screen and (min-width:320px) and (max-width:367px) and (orientation: portrait)    	/* 20em - Smartphones  	*/
{

}

@media screen and (max-width:319px) and (orientation: portrait)    							/* 		Obsolète  		*/
{
    
}