/* CSS Style */

@font-face 
{
	/* Police Générale */

	font-family: 'Montserrat';
	src: url('../fonts/Montserrat/Montserrat-Regular.woff') format('woff');
}

@font-face 
{
	/* Police La note enchantée */

	font-family: 'Komilka';
	src: url('../fonts/Komika/Komilka.woff') format('woff');
}

body
{
	font-family:Montserrat;
/*  font-size: 16px; */
/*  RESET   */
    margin:0; 
    padding:0;
}

/* Mise en page générale */

/* conteneurs */
.Flex
{
	width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
	flex-wrap:wrap;
	margin: 0 auto; /* centrage */
/*  border: 1px solid green;	/* DEBUG */
}

.Flex3
{
	width:100%;
	justify-content:center;
}

/* élements */

#B-Bloc, #T-Bloc-Menu
{
	width: 100%;
    background-color:#579c87;
	text-align: center;
/*	border: 1px solid blue;	/* DEBUG */
}

#B-Bloc
{
	width: 100%;
	position:fixed;
	bottom:0em;
}

a
{
	color: #fdcb46; /* Jaune foncé */
	text-decoration:none;
}

/* Header */
header
{
	margin: 5em 0;
/*	border: 1px solid red;	/* DEBUG */
}

.Title
{
	font-size:0.963em;
}

/* Mise en pages des menus */

.Carte
{
	font-size:3.2em;
	text-align: center;
	margin-top:-1.9em;
	margin-bottom:1.2em;
	padding: 1.2em 3.05em; /* H - L */
/*	border: 1px solid red; */
}

/* Menus */ 

/* Mention Légales */

.Menu-LNE
{
	font-family: 'Komilka';
	color: #3c1218;
	font-size:1.2em;
	background-color:#fcdfdb;
	text-align: center;
	box-shadow:0 0 16px #f1ebe9;
	padding-top:0.001em;
	padding-bottom:1.5em;
/*	border: 1px solid red; /* DEBUG */
}

.ML-F
{
	font-size:0.3em;
	padding: 0 0.5em;
/*	border: 1px solid red; /* DEBUG */
}

.Flex3
{
	display:inline-block;
	font-size:0.5em;
	cursor: pointer;

	transition-property:transform;
	transition-duration:1s;
/*	border: 1px solid red; /* DEBUG */
}

.Flex3:hover
{
	transform:rotateY(45deg) scale(1.2);
	opacity:0.5;
}

.P-Left
{
	position: relative;
	top:-1.5em;
	left:0.5em;

	font-size:0.3em;
	word-wrap:break-word;
	text-align: justify;
	float: left;

	padding: 0 0.5em;
	margin: 0 0.5em;
/*	border: 1px solid blue; */
}

/* Décoration - Animations */

/* Footer */

.ML, .CT
{
	cursor: pointer;
	padding-bottom:1.5em;
	padding-top:0.9em;

	transition-property:transform;
	transition-duration:1s;
}

.ML:hover, .CT:hover
{
	transform: scale(0.9);
}

.ML
{
	padding-left:2.5em;
	float:left;
}

.CT
{
	padding-right:2.5em;
	float:right;
}

@media screen and (min-width:1280px) and (orientation: landscape)    /* 80em - Grand Ecran FHD+  */
{
	.Flex2
	{
		width: 79em;
	}

	/* Obsolète */
	.OBS, .Alert
	{
		 display: none;
	}
}

@media screen and (min-width:1090px) and (max-width:1279px) and (orientation: landscape)    /* 68em - Ecran FHD  	*/
{
	.Flex2
	{
		width: 68em;
	}

	/* Mention Légales */

	.Flex3
	{
		font-size:0.492em;
	}

	/* Décoration */

	.Deco-EL, .Deco-PL, .Deco-DL
	{
		width:5.6em;
		top: 0.5em;
		left:1.08em;
	}

	.Deco-ER, .Deco-PR, .Deco-DR
	{
		width:5.6em;
		top:0.5em;
		right:1.04em;
	}

	.P-Left
	{
		font-size:0.28em;
	}

	/* Obsolète */
	.OBS, .Alert
	{
		display: none;
	}
}

@media screen and (min-width:664px) and (max-width:1089px) and (orientation: landscape)    	/* 42em - Tablettes  	*/
{
	.Flex2
	{
		width: 39.5em;
		display:flex;
		justify-content:center;
		align-items:center;
		flex-wrap:wrap;
	}

	.Carte
	{
		width:12em;
		padding:0 0;
		margin-top:-0.7em;
		margin-bottom:2.4em;
	}

	.Title
	{
		font-size:0.963em;
	}

	/* Mention Légales */


	.ML-F
	{
		font-size:0.3em;
	}

	.Flex3
	{
		font-size:0.4em;
	}

	/* Décoration */

	.P-Left
	{
		font-size:0.2em;
	}

	/* Obsolète */
	.OBS, .Alert
	{
		display: none;
	}
}

@media screen and (min-width:664px) and (max-width:1089px) and (orientation: portrait)    	/* 49em - Tablettes  	*/
{
	.Flex2
	{
		width: 39.5em;
		display:flex;
		justify-content:center;
		align-items:center;
		flex-wrap:wrap;
	}

	.Carte
	{
		width:12em;
		padding:0 0;
		margin-top:-0.7em;
		margin-bottom:2.4em;
	}

	.Title
	{
		font-size:0.963em;
	}

	/* Mention Légales */


	.ML-F
	{
		font-size:0.3em;
	}

	.Flex3
	{
		font-size:0.4em;
	}

	/* Décoration */

	.P-Left
	{
		font-size:0.2em;
	}

	/* Obsolète */
	.OBS, .Alert
	{
		display: none;
	}
}

@media screen and (min-width:568px) and (max-width:663px) and (orientation: landscape)    	/* 36em - Smartphones  	*/
{
	/* Header */
	header
	{
		margin: 0.5em 0;
	/*	border: 1px solid red;	/* DEBUG */
	}

	/* élements */

	.Flex2
	{
		width:35.5em;
		display:flex;
		justify-content:center;
		align-items:center;
		flex-wrap:wrap;
	}

	.Carte
	{
		width:9.88em;
		padding:0 0;
		margin-top:-0.875em;
		margin-bottom:2.4em;
	/*	border: 1px solid blue; */
	}

	.Title
	{
		font-size: 0.8em;
		padding-top: 1em;
	}

	.ML-F
	{
		font-size:0.3em;
	}

	.Flex3
	{
		font-size:0.2em;
	}

	/* Décoration */

	.P-Left
	{
		top:-1em;
		font-size:0.133em;
	/*	border: 1px solid blue; */
	}

	/* Obsolète */
	.OBS, .Alert
	{
		display: none;
	}
}

@media screen and (min-width:568px) and (max-width:663px) and (orientation: portrait)    	/* 36em - Smartphones  	*/
{
	/* Header */
	header
	{
		margin: 0.5em 0;
	/*	border: 1px solid red;	/* DEBUG */
	}

	/* élements */

	.Flex2
	{
		width:35.5em;
		display:flex;
		justify-content:center;
		align-items:center;
		flex-wrap:wrap;
	}

	.Carte
	{
		width:9.88em;
		padding:0 0;
		margin-top:-0.875em;
		margin-bottom:2.4em;
	/*	border: 1px solid blue; */
	}

	.Title
	{
		font-size: 0.8em;
		padding-top: 1em;
	}

	.ML-F
	{
		font-size:0.3em;
	}

	.Flex3
	{
		font-size:0.2em;
	}

	/* Décoration */

	.P-Left
	{
		top:-1em;
		font-size:0.133em;
	/*	border: 1px solid blue; */
	}

	/* Obsolète */
	.OBS, .Alert
	{
		display: none;
	}
}

@media screen and (min-width:360px) and (max-width:567px) and (orientation: landscape)    	/* 23em - Smartphones  	*/
{
	/* Header */
	header
	{
		margin: 0.5em 0;
	/*	border: 1px solid red;	/* DEBUG */
	}

	/* élements */

	.Flex2
	{
		width:22em;
	}

	#T-Bloc-Menu img
	{
		width:15em;
	}

	.Carte
	{
		width:6.88em;
		padding:0 0;
		margin-top:-0.875em;
		margin-bottom:2.3em;
	/*	border: 1px solid blue; */
	}

	.Title
	{
		font-size: 0.6em;
		padding-top: 1em; /* EDIT */
	}

	/* Mention Légales */

	.ML-F
	{
		font-size: 0.2em;
	/*	border: 1px solid grey; */
	}

	.Flex3
	{
		font-size:0.2em;
	}

	/* Décoration */

	.P-Left
	{
		top:-1em;
		font-size:0.13em;
	/*	border: 1px solid blue; */
	}

	/* Footer */

	.ML, .CT
	{
		padding-bottom:1.4em;
		padding-top:0.65em;
	}

	.ML
	{
		padding-left:1.5em;
	}

	.CT
	{
		padding-right:1.5em;
	}

	/* Obsolète */
	.OBS, .Alert
	{
		display: none;
	}
}

@media screen and (min-width:360px) and (max-width:567px) and (orientation: portrait)    	/* 23em - Smartphones  	*/
{
	/* Header */
	header
	{
		margin: 0.5em 0;
	/*	border: 1px solid red;	/* DEBUG */
	}

	/* élements */

	.Flex2
	{
		width:22em;
	}

	#T-Bloc-Menu img
	{
		width:15em;
	}

	.Carte
	{
		width:6.88em;
		padding:0 0;
		margin-top:-0.875em;
		margin-bottom:2.3em;
	/*	border: 1px solid blue; */
	}

	.Title
	{
		font-size: 0.6em;
		padding-top: 1em; /* EDIT */
	}

	/* Mention Légales */

	.ML-F
	{
		font-size: 0.2em;
	/*	border: 1px solid grey; */
	}

	.Flex3
	{
		font-size:0.2em;
	}

	/* Décoration */

	.P-Left
	{
		top:-1em;
		font-size:0.13em;
	/*	border: 1px solid blue; */
	}

	/* Footer */

	.ML, .CT
	{
		padding-bottom:1.4em;
		padding-top:0.65em;
	}

	.ML
	{
		padding-left:1.5em;
	}

	.CT
	{
		padding-right:1.5em;
	}

	/* Obsolète */
	.OBS, .Alert
	{
		display: none;
	}
}

@media screen and (min-width:320px) and (max-width:359px) and (orientation: portrait)    	/* 20em - Smartphones  	*/
{
	/* Header */
	header
	{
		margin: 0.5em 0;
	/*	border: 1px solid red;	/* DEBUG */
	}

	/* élements */

	.Flex2
	{
		width:18.8em;
	}

	#T-Bloc-Menu img
	{
		width:15em;
	}

	.Carte
	{
		width:5.91em;
		padding:0 0;
		margin-top:-0.109em;
		margin-bottom:2.3em;
	/*	border: 1px solid grey; /* DEBUG */
	}

	.Title
	{
		font-size: 0.45em;
	}

	/* Mention Légales */

	.ML-F
	{
		font-size: 0.2em;
	/*	border: 1px solid grey; */
	}

	.Flex3
	{
		font-size:0.33em;
	}

	/* Décoration */

	.P-Left
	{
		top:-1em;
		font-size:0.125em;
	/*	border: 1px solid blue; */
	}

	/* Footer */

	.ML, .CT
	{
		padding-bottom:1.4em;
		padding-top:0.65em;
	}

	.ML
	{
		padding-left:0.5em;
	}

	.CT
	{
		padding-right:0.5em;
	}

	/* Obsolète */

	.OBS, .Alert
	{
		display: none;
	}
}

@media screen and (max-width:319px) and (orientation: portrait)    							/* 		Obsolète  		*/
{
	body
	{
		background-color:#579c87;
	}

	#T-Bloc-Menu, #B-Bloc, .Flex2
	{
		display: none;
	}
	/* Obsolète */
	
	body
	{
		background-color:#579c87;
	}

	.Alert img
	{
		position: relative;
		top:10em;
		left:7em;
		width:5em;
		height:auto;

		animation-name: switch;
		animation-duration: 2s;
		animation-timing-function: linear;
		animation-delay: 0s;
		animation-iteration-count: infinite;
	}

	@keyframes switch
	{
		0%	{transform: perspective(400px) rotateY(0deg) rotateX(0deg) scale(1);}
		50%	{transform: perspective(800px) rotateY(180deg) rotateX(180deg) scale(1.2);}
		100%{transform: perspective(400px) rotateY(360deg) rotateX(360deg) scale(1);}
	}

	img:hover
	{
		animation-play-state: paused;
	}

	img:hover + .OBS
	{
		transform: perspective(800px) rotateY(0deg);
	}

	.OBS
	{
		font-size: 1.12em;
		margin:0 0.3em;
		margin-top: 50%;
		color: #3c1218;
		background-color: #fcdfdb;
		text-align: center;
		border:0.2px solid #fdcb46;

		transition-property:transform;
		transition-duration:0.5s;
		transform: rotateY(90deg);
	}
}