/* CSS Style */

@font-face 
{
	/* Police Générale */

	font-family: 'Montserrat';
	src: url('../fonts/Montserrat/Montserrat-Regular.woff') format('woff');
}

@font-face 
{
	/* Police Le délice des papilles */

	font-family: 'Dancing';
	src: url('../fonts/dancing/DancingScript-Regular.woff') format('woff');
}

@font-face 
{
	/* Police La palette du goût */
	font-family: 'Worstveld';
	src: url('../fonts/Worstveld_Sling/worstveldsling.woff') format('woff');
}

@font-face 
{
	/*Police  Le chic à la française 1 */
	font-family: 'CroissantOne';
	src: url('../fonts/croissant-one/CroissantOne-Regular.woff') format('woff');
}

@font-face 
{
	/*Police  Le chic à la française 2 */
	font-family: 'LibreCaslon';
	src: url('../fonts/libre-caslon/librecaslondisplay-regular.woff') format('woff');
}

body
{
	font-family:'Montserrat';
/*  font-size: 16px; */
/*  RESET   */
    margin:0; 
    padding:0;
}

/* Mise en page générale */

/* conteneurs */
.Flex
{
	width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
	flex-wrap:wrap;
	margin: 0 auto; /* centrage */
/*  border: 1px solid green;	/* DEBUG */
}

.Flex3
{
	width:100%;
	justify-content:center;
}

/* élements */

#B-Bloc, #T-Bloc-Menu
{
	width: 100%;
    background-color:#579c87;
	text-align: center;
/*	border: 1px solid blue;	/* DEBUG */
}

#B-Bloc
{
	width: 100%;
	position:fixed;
	bottom:0em;
}

a
{
	color: #fdcb46; /* Jaune foncé */
	text-decoration:none;
}

/* Header */
header
{
	margin: 5em 0;
/*	border: 1px solid red;	/* DEBUG */
}

.Title
{
	font-size:0.963em;
}

/* Mise en pages des menus */

.Carte
{
	font-size:3.2em;
	text-align: center;
	margin-top:-1.9em;
	margin-bottom:1.2em;
	padding: 1.2em 3.05em; /* H - L */
/*	border: 1px solid red; */
}

/* Menus */

/* Menu - Le chic à la française */

.Menu-CAF
{
	font-family: 'LibreCaslon';
	font-size:1.552em;
	background-color:#fff5fe;
	text-align: center;
	box-shadow:0 0 16px #f1ebe9;
	padding-top:0.754em;
	padding-bottom:5.6em;
/*	border: 1px solid red; /* DEBUG */
}

.MLCAF-F
{
	background:-webkit-linear-gradient(to bottom right, #d8852e, #905bfd);
	background:-moz-linear-gradient(to bottom right, #d8852e, #905bfd);
	background:-o-linear-gradient(to bottom right, #d8852e, #905bfd);
	background:linear-gradient(to bottom right, #d8852e, #905bfd);

	-webkit-background-clip:text;
	-moz-background-clip:text;
	-o-background-clip:text;
	background-clip:text;
	color:transparent;

	font-family:CroissantOne;
	font-size: 0.716em;
}

.Flex3
{
	display:inline-block;
	font-weight:bold;
	font-size:0.39em;
/*	border: 1px solid red; /* DEBUG */
}

.C1
{
	color:#c67412;
}

.C2
{
	color:#a56799;
}

.C3
{
	color:#6e4ccc;
}

/* Menu - La palette du goût */

.Menu-LPG
{
	font-family: 'Dancing';
	font-size:1.552em;
	background-color:#fdfffd;
	text-align: center;
	box-shadow:0 0 16px #f1ebe9;
	padding-top:0.595em;
	padding-bottom:6.18em;
/*	border: 1px solid red; /* DEBUG */
}

.MLPG-F
{
	background:-webkit-linear-gradient(to right, #42973c, #bfff7e);
	background:-moz-linear-gradient(to right, #42973c, #bfff7e);
	background:-o-linear-gradient(to right, #42973c, #bfff7e);
	background:linear-gradient(to right, #42973c, #bfff7e);

	-webkit-background-clip: text;
	-moz-background-clip: text;
	-o-background-clip: text;
	background-clip:text;
	color:transparent;

	font-family:'Worstveld';
	font-weight: bold;
	font-size: 1.5em;
}

.Menu-LPG h3
{
	display:inline-block;
	font-size:0.34em;
	text-align: center;
/*	border: 1px solid red; /* DEBUG */
}

/* Menu - Le délice des papilles */

.Menu-LDP
{
	font-family: 'Dancing';
	font-size:1.552em;
	background-color:#f9f9f9;
	text-align: center;
	box-shadow:0 0 16px #f1ebe9;
	padding-top:0.69em;
	padding-bottom:6.7em;
/*	border: 1px solid red; /* DEBUG */
}

.MLDP-F
{
	background:-webkit-linear-gradient(to right, #0431df, #0887fb);
	background:-moz-linear-gradient(to right, #0431df, #0887fb);
	background:-o-linear-gradient(to right, #0431df, #0887fb);
	background:linear-gradient(to right, #0431df, #0887fb);

	-webkit-background-clip: text;
	-moz-background-clip: text;
	-o-background-clip: text;
	background-clip:text;
	color:transparent;

	font-family:'Dancing';
	font-size: 1.315em;
}

.Menu-LDP h3
{
	display:inline-block;
	font-size:0.33em;
/*	border: 1px solid red; /* DEBUG */
}

/* Décoration */

.Deco-EL, .Deco-PL, .Deco-DL
{
	width:6.5em;
	position: relative;
	top: 0.5em;
	left:3.15em;
	float: left;
}

.Deco-ER, .Deco-PR, .Deco-DR
{
	width:6.5em;
	position: relative;
	top:0.5em;
	right:3.13em;
	float: right;
}

.P-Left
{
	position: relative;
	top:-0.3em;
	left:6.25em;

	font-size:0.3em;
	text-align: left;
	float: left;
/*	border: 1px solid blue; /* DEBUG */
}

.P-Right
{
	position: relative;
	top:-0.55em;
	right:5.58em;

	font-size:0.3em;
	text-align: right;
	float: right;
/*	border: 1px solid red; /* DEBUG */
}

/* Footer */

.ML, .CT
{
	padding-bottom:1.5em;
	padding-top:0.9em;
}

.ML
{
	padding-left:2.5em;
	float:left;
}

.CT
{
	padding-right:2.5em;
	float:right;
}

@media screen and (min-width:1280px) and (orientation: landscape)    /* 80em - Grand Ecran FHD+  */
{
	.Flex2
	{
		width: 79em;
	}

	.Menu-CAF, .Menu-LPG, .Menu-LDP
	{
		padding-bottom:2.5em;
	}

	/* Responsive */

	.P-R320px
	{
		display:none;
	}

	/* Obsolète */
	.OBS
	{
		display: none;
	}
}

@media screen and (min-width:1090px) and (max-width:1279px) and (orientation: landscape)    /* 68em - Ecran FHD  	*/
{
	.Flex2
	{
		width: 68em;
	}

	.Menu-CAF, .Menu-LPG, .Menu-LDP
	{
		padding-bottom:2.5em;
	}

	/* Menu - Le délice des papilles */

	.MLDP-F, .MLPG-F
	{
		font-size:0.8em;
	}

	/* Décoration */

	.Deco-EL, .Deco-PL, .Deco-DL
	{
		width:6.5em;
		top: 0.5em;
		left:1.08em;
	}

	.Deco-ER, .Deco-PR, .Deco-DR
	{
		width:6.5em;
		top:0.5em;
		right:1.04em;
	}

	.P-Left
	{
		font-size:0.28em;
		left:2em;
	}

	.P-Right
	{
		font-size:0.28em;
		right:1.9em;
	}

	/* Responsive */
	
	.P-R320px
	{
		display:none;
	}

	/* Obsolète */
	.OBS
	{
		display: none;
	}
}

@media screen and (min-width:664px) and (max-width:1089px) and (orientation: landscape)    	/* 42em - Tablettes  	*/
{
	.Flex2
	{
		width: 39.5em;
		display:flex;
		justify-content:center;
		align-items:center;
		flex-wrap:wrap;
	}

	.Carte
	{
		width:12em;
		padding:0 0;
		margin-top:-0.7em;
		margin-bottom:2.4em;
	}

	.Menu-CAF, .Menu-LPG, .Menu-LDP
	{
		padding-bottom:2.5em;
	}

	/* Menu - La palette du goût */

	.MLPG-F
	{
		font-size:0.7em;
	}

	/* Menu - Le délice des papilles */

	.MLDP-F
	{
		font-size:0.6em;
	}

	/* Menu - Le chic à la française */

	.Flex3
	{
		font-size:0.38em;
	}

	.MLCAF-F
	{
		font-size:0.55em;
	}

	/* Décoration */

	.Deco-EL, .Deco-PL, .Deco-DL
	{
		width:3.76em;
		top: 0.5em;
		left:0.93em;
	}

	.Deco-ER, .Deco-PR, .Deco-DR
	{
		width:3.76em;
		top:0.5em;
		right:0.915em;
	}

	.P-Left
	{
		font-size:0.25em;
		left:2em;
	}

	.P-Right
	{
		font-size:0.25em;
		right:1.9em;
	}

	/* Responsive */
	
	.P-R320px
	{
		display:none;
	}

	/* Obsolète */
	.OBS
	{
		display: none;
	}
}

@media screen and (min-width:664px) and (max-width:1089px) and (orientation: portrait)    	/* 49em - Tablettes  	*/
{
	.Flex2
	{
		width: 39.5em;
		display:flex;
		justify-content:center;
		align-items:center;
		flex-wrap:wrap;
	}

	.Carte
	{
		width:12em;
		padding:0 0;
		margin-top:-0.7em;
		margin-bottom:2.4em;
	}

	.Menu-CAF, .Menu-LPG, .Menu-LDP
	{
		padding-bottom:2.5em;
	}

	/* Menu - La palette du goût */

	.MLPG-F
	{
		font-size:0.7em;
	}

	/* Menu - Le délice des papilles */

	.MLDP-F
	{
		font-size:0.6em;
	}

	/* Menu - Le chic à la française */

	.Flex3
	{
		font-size:0.38em;
	}

	.MLCAF-F
	{
		font-size:0.55em;
	}

	/* Décoration */

	.Deco-EL, .Deco-PL, .Deco-DL
	{
		width:3.76em;
		top: 0.5em;
		left:0.93em;
	}

	.Deco-ER, .Deco-PR, .Deco-DR
	{
		width:3.76em;
		top:0.5em;
		right:0.915em;
	}

	.P-Left
	{
		font-size:0.25em;
		left:2em;
	}

	.P-Right
	{
		font-size:0.25em;
		right:1.9em;
	}

	/* Responsive */
	
	.P-R320px
	{
		display:none;
	}

	/* Obsolète */
	.OBS
	{
		display: none;
	}
}

@media screen and (min-width:568px) and (max-width:663px) and (orientation: landscape)    	/* 36em - Smartphones  	*/
{
	/* Header */
	header
	{
		margin: 0.5em 0;
	/*	border: 1px solid red;	/* DEBUG */
	}

	/* élements */

	.Flex2
	{
		width:35.5em;
		display:flex;
		justify-content:center;
		align-items:center;
		flex-wrap:wrap;
	}

	.Carte
	{
		width:9.88em;
		padding:0 0;
		margin-top:-0.875em;
		margin-bottom:2.4em;
	/*	border: 1px solid blue; */
	}

	.Menu-CAF, .Menu-LPG, .Menu-LDP
	{
		padding-bottom:1.5em;
	}

	.Title
	{
		font-size: 0.8em;
		padding-top: 1em;
	}

	/* Menu - La palette du goût */

	.MLPG-F
	{
		font-size:0.4em;
	}

	.Menu-LPG h3
	{
		font-size:0.16em;
	}

	/* Menu - Le délice des papilles */

	.MLDP-F
	{
		font-size:0.6em;
	}

	.Menu-LDP h3
	{
		font-size:0.16em;
	}

	/* Menu - Le chic à la française */

	.Menu-CAF h3
	{
		font-size:0.25em;
	}

	.MLCAF-F
	{
		font-size:0.45em;
	}

	/* Décoration */

	.Deco-EL, .Deco-PL, .Deco-DL
	{
		width:23%;
		top: 0.5em;
		left:0.45em;
	}

	.Deco-ER, .Deco-PR, .Deco-DR
	{
		width:23%;
		top:0.5em;
		right:0.615em;
	}

	.P-Left
	{
		top:-1em;
		left:1em;
		font-size:0.18em;
	/*	border: 1px solid blue; */
	}

	.P-Right
	{
		top:-1em;
		right:1em;
		font-size:0.18em;
	/*	border: 1px solid red; */
	}

	/* Responsive */
	
	.P-R320px
	{
		display:none;
	}

	/* Obsolète */
	.OBS
	{
		display: none;
	}
}

@media screen and (min-width:568px) and (max-width:663px) and (orientation: portrait)    	/* 36em - Smartphones  	*/
{
	/* Header */
	header
	{
		margin: 0.5em 0;
	/*	border: 1px solid red;	/* DEBUG */
	}

	/* élements */

	.Flex2
	{
		width:35.5em;
		display:flex;
		justify-content:center;
		align-items:center;
		flex-wrap:wrap;
	}

	.Carte
	{
		width:9.88em;
		padding:0 0;
		margin-top:-0.875em;
		margin-bottom:2.4em;
	/*	border: 1px solid blue; */
	}

	.Menu-CAF, .Menu-LPG, .Menu-LDP
	{
		padding-bottom:1.5em;
	}

	.Title
	{
		font-size: 0.8em;
		padding-top: 1em;
	}

	/* Menu - La palette du goût */

	.MLPG-F
	{
		font-size:0.4em;
	}

	.Menu-LPG h3
	{
		font-size:0.16em;
	}

	/* Menu - Le délice des papilles */

	.MLDP-F
	{
		font-size:0.6em;
	}

	.Menu-LDP h3
	{
		font-size:0.16em;
	}

	/* Menu - Le chic à la française */

	.Menu-CAF h3
	{
		font-size:0.25em;
	}

	.MLCAF-F
	{
		font-size:0.45em;
	}

	/* Décoration */

	.Deco-EL, .Deco-PL, .Deco-DL
	{
		width:23%;
		top: 0.5em;
		left:0.45em;
	}

	.Deco-ER, .Deco-PR, .Deco-DR
	{
		width:23%;
		top:0.5em;
		right:0.615em;
	}

	.P-Left
	{
		top:-1em;
		left:1em;
		font-size:0.18em;
	/*	border: 1px solid blue; */
	}

	.P-Right
	{
		top:-1em;
		right:1em;
		font-size:0.18em;
	/*	border: 1px solid red; */
	}

	/* Responsive */
	
	.P-R320px
	{
		display:none;
	}

	/* Obsolète */
	.OBS
	{
		display: none;
	}
}

@media screen and (min-width:360px) and (max-width:567px) and (orientation: landscape)    	/* 23em - Smartphones  	*/
{
	/* Header */
	header
	{
		margin: 0.5em 0;
	/*	border: 1px solid red;	/* DEBUG */
	}

	/* élements */

	.Flex2
	{
		width:22em;
	}

	#T-Bloc-Menu img
	{
		width:15em;
	}

	.Carte
	{
		width:6.88em;
		padding:0 0;
		margin-top:-0.875em;
		margin-bottom:2.3em;
	/*	border: 1px solid blue; */
	}

	.Menu-CAF, .Menu-LPG, .Menu-LDP
	{
		padding-bottom:1.5em;
	}

	.Title
	{
		font-size: 0.6em;
		padding-top: 1em;
	}

	/* Menu - La palette du goût */

	.MLPG-F
	{
		font-size:0.4em;
		padding-bottom:0.15em;
	}

	.Menu-LPG h3
	{
		font-size:0.16em;
	}

	/* Menu - Le délice des papilles */

	.MLDP-F
	{
		font-size:0.4em;
	}

	.Menu-LDP h3
	{
		font-size:0.16em;
	}

	/* Menu - Le chic à la française */

	.Menu-CAF h3
	{
		font-size:0.2em;
	}

	.MLCAF-F
	{
		font-size:0.3em;
	}

	/* Décoration */

	.Deco-EL, .Deco-PL, .Deco-DL
	{
		width:25.9%;
		top: 0.5em;
		left:0.48em;
	}

	.Deco-ER, .Deco-PR, .Deco-DR
	{
		width:25.9%;
		top:0.5em;
		right:0.615em;
	}

	.P-Left
	{
		top:-1em;
		left:1em;
		font-size:0.153em;
	/*	border: 1px solid blue; */
	}

	.P-Right
	{
		top:-1em;
		right:1em;
		font-size:0.153em;
	/*	border: 1px solid red; */
	}

	/* Footer */

	.ML, .CT
	{
		padding-bottom:1.4em;
		padding-top:0.65em;
	}

	.ML
	{
		padding-left:1.5em;
	}

	.CT
	{
		padding-right:1.5em;
	}

	/* Responsive */
	
	.P-R320px
	{
		display:none;
	}

	/* Obsolète */
	.OBS
	{
		display: none;
	}
}

@media screen and (min-width:360px) and (max-width:567px) and (orientation: portrait)    	/* 23em - Smartphones  	*/
{
	/* Header */
	header
	{
		margin: 0.5em 0;
	/*	border: 1px solid red;	/* DEBUG */
	}

	/* élements */

	.Flex2
	{
		width:22em;
	}

	#T-Bloc-Menu img
	{
		width:15em;
	}

	.Carte
	{
		width:6.88em;
		padding:0 0;
		margin-top:-0.875em;
		margin-bottom:2.3em;
	/*	border: 1px solid blue; */
	}

	.Menu-CAF, .Menu-LPG, .Menu-LDP
	{
		padding-bottom:1.5em;
	}

	.Title
	{
		font-size: 0.6em;
		padding-top: 1em;
	}

	/* Menu - La palette du goût */

	.MLPG-F
	{
		font-size:0.5em;
		padding-bottom:0.15em;
	}

	.Menu-LPG h3
	{
		font-size:0.2em;
	}

	/* Menu - Le délice des papilles */

	.MLDP-F
	{
		font-size:0.4em;
	}

	.Menu-LDP h3
	{
		font-size:0.2em;
	}

	/* Menu - Le chic à la française */

	.Menu-CAF h3
	{
		font-size:0.2em;
	}

	.MLCAF-F
	{
		font-size:0.3em;
	}

	/* Décoration */

	.Deco-EL, .Deco-PL, .Deco-DL
	{
		width:25.9%;
		top: 0.5em;
		left:0.48em;
	}

	.Deco-ER, .Deco-PR, .Deco-DR
	{
		width:25.9%;
		top:0.5em;
		right:0.615em;
	}

	.P-Left
	{
		top:-1em;
		left:1em;
		font-size:0.153em;
	/*	border: 1px solid blue; */
	}

	.P-Right
	{
		top:-1em;
		right:1em;
		font-size:0.153em;
	/*	border: 1px solid red; */
	}

	/* Footer */

	.ML, .CT
	{
		padding-bottom:1.4em;
		padding-top:0.65em;
	}

	.ML
	{
		padding-left:1.5em;
	}

	.CT
	{
		padding-right:1.5em;
	}

	/* Responsive */
	
	.P-R320px
	{
		display:none;
	}

	/* Obsolète */
	.OBS
	{
		display: none;
	}
}

@media screen and (min-width:320px) and (max-width:359px) and (orientation: portrait)    	/* 20em - Smartphones  	*/
{
	/* Header */
	header
	{
		margin: 0.5em 0;
	/*	border: 1px solid red;	/* DEBUG */
	}

	/* élements */

	.Flex2
	{
		width:20em;
		align-items:center;
	/*	border: 1px solid red;	/* DEBUG */
	}

	#T-Bloc-Menu img
	{
		width:15em;
	}

	.Carte
	{
		width:5.91em;
		padding:0 0;
		margin-top:-0.109em;
		margin-bottom:2.3em;
	/*	border: 1px solid grey; /* DEBUG */
	}

	.Title
	{
		font-size: 0.45em;
	}

	.Menu-CAF, .Menu-LPG, .Menu-LDP
	{
		padding-bottom:2.5em;
	}

	/* Menu - La palette du goût */

	.MLPG-F
	{
		font-size:0.4em;
		padding-bottom:0.15em;
	}

	.Menu-LPG h3
	{
		font-size:0.33em;
	}

	/* Menu - Le délice des papilles */

	.MLDP-F
	{
		font-size:0.4em;
	}

	.Menu-LDP h3
	{
		font-size:0.33em;
	}

	/* Menu - Le chic à la française */

	.MLCAF-F
	{
		font-size:0.3em;
	}

	.Menu-CAF h3
	{
		font-size:0.33em;
	}

	/* Décoration */

	.Deco-EL, .Deco-PL, .Deco-DL
	{
		display:none;
	}

	.Deco-ER, .Deco-PR, .Deco-DR
	{
		display:none;
	}

	.P-Left
	{
		display: none;
	}

	.P-Right
	{
		display: none;
	}

	/* Footer */

	.ML, .CT
	{
		padding-bottom:1.4em;
		padding-top:0.65em;
	}

	.ML
	{
		padding-left:0.5em;
	}

	.CT
	{
		padding-right:0.5em;
	}

	/* Responsive */
	
	.P-R320px
	{
		font-size:0.25em;
	}

	/* Obsolète */

	.OBS
	{
		display: none;
	}
}

@media screen and (max-width:319px) and (orientation: portrait)    							/* 		Obsolète  		*/
{
	body
	{
		background-color:#579c87;
	}

	#T-Bloc-Menu, #B-Bloc, .Flex2
	{
		display: none;
	}

	.OBS
	{
		margin-top: 50%;
		color: #fdcb46;
		text-align: center;
	}
}