/* CSS Style */

@font-face 
{
	/* Police Générale */

	font-family: 'Montserrat';
	src: url('../fonts/Montserrat/Montserrat-Regular.woff') format('woff');
}

@font-face 
{
	/* Police La note enchantée */

	font-family: 'Komilka';
	src: url('../fonts/Komika/Komilka.woff') format('woff');
}

body
{
	font-family:Montserrat;
/*  font-size: 16px; */
/*  RESET   */
    margin:0; 
    padding:0;
}

/* Mise en page générale */

/* conteneurs */
.Flex
{
	width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
	flex-wrap:wrap;
	margin: 0 auto; /* centrage */
/*  border: 1px solid green;	/* DEBUG */
}

.Flex3
{
	width:100%;
	justify-content:center;
}

/* élements */

#B-Bloc, #T-Bloc-Menu
{
	width: 100%;
    background-color:#579c87;
	text-align: center;
/*	border: 1px solid blue;	/* DEBUG */
}

#B-Bloc
{
	width: 100%;
	position:fixed;
	bottom:0em;
}

a
{
	color: #fdcb46; /* Jaune foncé */
	text-decoration:none;
}

/* Header */
header
{
	margin: 5em 0;
/*	border: 1px solid red;	/* DEBUG */
}

.Title
{
	font-size:0.963em;
}

/* Mise en pages des menus */

.Carte
{
	font-size:3.2em;
	text-align: center;
	margin-top:-1.9em;
	margin-bottom:1.2em;
	padding: 1.2em 3.05em; /* H - L */
/*	border: 1px solid red; */
}

/* Menus */ 

/* La note enchantée */

.Menu-LNE
{
	font-family: 'Komilka';
	color: #3c1218;
	font-size:1.552em;
	background-color:#fcdfdb;
/*	text-align: center; */
	box-shadow:0 0 16px #f1ebe9;
	padding-top:0.001em;
	padding-bottom:0.29em;
/*	border: 1px solid red; /* DEBUG */
}

.fab
{
	background:-webkit-linear-gradient(to right, #f05261, #f6916a);
	background:-moz-linear-gradient(to right, #f05261, #f6916a);
	background:-o-linear-gradient(to right, #f05261, #f6916a);
	background:linear-gradient(to right, #f05261, #f6916a);

	-webkit-background-clip: text;
	-moz-background-clip: text;
	-o-background-clip: text;
	background-clip:text;
	color:transparent;

	font-size: 1.7em;
	position: relative;
	top:0.12em;
}

.MLNE-F, .MLNE-MB
{
	font-size:0.6em;
}

.Flex3
{
	display:inline-block;
	font-size:0.5em;
/*	border: 1px solid red; /* DEBUG */
}

.MLNE-MB i
{
	font-size:1em;
}

/* Décoration */

.Deco-EL, .Deco-PL, .Deco-DL
{
	width:5.5em;
	position: relative;
	top: 0.5em;
	left:2.4em;
	float: left;
}

.Deco-ER, .Deco-PR, .Deco-DR
{
	width:5.5em;
	position: relative;
	top:0.5em;
	right:2.4em;
	float: right;
}

.P-Left
{
	position: relative;
	top:-2.5em;
	left:5em;

	font-size:0.3em;
	text-align: left;
	float: left;
/*	border: 1px solid blue; */
}

.P-Right
{
	position: relative;
	top:-2.5em;
	right:4.45em;

	font-size:0.3em;
	text-align: right;
	float: right;
/*	border: 1px solid red; */
}

/* Bottom LNE */

.MLNE-MB
{
	display:inline-block;
	font-size:0.75em;
/*	border: 1px solid grey; */
}

/* Footer */

.ML, .CT
{
	padding-bottom:1.5em;
	padding-top:0.9em;
}

.ML
{
	padding-left:2.5em;
	float:left;
}

.CT
{
	padding-right:2.5em;
	float:right;
}

@media screen and (min-width:1280px) and (orientation: landscape)    /* 80em - Grand Ecran FHD+  */
{
	.Flex2
	{
		width: 79em;
	}

	/* Obsolète */
	.OBS
	{
		 display: none;
	}
}

@media screen and (min-width:1090px) and (max-width:1279px) and (orientation: landscape)    /* 68em - Ecran FHD  	*/
{
	.Flex2
	{
		width: 68em;
	}

	/* Menu - La note enchantée */

	.Flex3
	{
		font-size:0.492em;
	}

	/* Décoration */

	.Deco-EL, .Deco-PL, .Deco-DL
	{
		width:5.6em;
		top: 0.5em;
		left:1.08em;
	}

	.Deco-ER, .Deco-PR, .Deco-DR
	{
		width:5.6em;
		top:0.5em;
		right:1.04em;
	}

	.P-Left
	{
		font-size:0.28em;
		left:2em;
	}

	.P-Right
	{
		font-size:0.28em;
		right:1.9em;
	}

	/* Obsolète */
	.OBS
	{
		display: none;
	}
}

@media screen and (min-width:664px) and (max-width:1089px) and (orientation: landscape)    	/* 42em - Tablettes  	*/
{
	.Flex2
	{
		width: 39.5em;
		display:flex;
		justify-content:center;
		align-items:center;
		flex-wrap:wrap;
	}

	.Carte
	{
		width:12em;
		padding:0 0;
		margin-top:-0.7em;
		margin-bottom:2.4em;
	}

	.Title
	{
		font-size:0.963em;
	}

	/* Menu - La note enchantée */

	.fab
	{
		font-size: 2em;
		top:0.265em;		
	}

	.MLNE-F
	{
		font-size:0.6em;
	}

	.Flex3
	{
		font-size:0.4em;
	}

	/* Décoration */

	.Deco-EL, .Deco-PL, .Deco-DL
	{
		width:3.76em;
		top: 0.5em;
		left:0.93em;
	}

	.Deco-ER, .Deco-PR, .Deco-DR
	{
		width:3.76em;
		top:0.5em;
		right:0.915em;
	}

	.P-Left
	{
		font-size:0.2em;
		left:2em;
	}

	.P-Right
	{
		font-size:0.2em;
		right:1.9em;
	}

	/* Obsolète */
	.OBS
	{
		display: none;
	}
}

@media screen and (min-width:664px) and (max-width:1089px) and (orientation: portrait)    	/* 49em - Tablettes  	*/
{
	.Flex2
	{
		width: 39.5em;
		display:flex;
		justify-content:center;
		align-items:center;
		flex-wrap:wrap;
	}

	.Carte
	{
		width:12em;
		padding:0 0;
		margin-top:-0.7em;
		margin-bottom:2.4em;
	}

	.Title
	{
		font-size:0.963em;
	}

	/* Menu - La note enchantée */

	.fab
	{
		font-size: 2em;
		top:0.265em;		
	}

	.MLNE-F
	{
		font-size:0.6em;
	}

	.Flex3
	{
		font-size:0.4em;
	}

	/* Décoration */

	.Deco-EL, .Deco-PL, .Deco-DL
	{
		width:3.76em;
		top: 0.5em;
		left:0.93em;
	}

	.Deco-ER, .Deco-PR, .Deco-DR
	{
		width:3.76em;
		top:0.5em;
		right:0.915em;
	}

	.P-Left
	{
		font-size:0.2em;
		left:2em;
	}

	.P-Right
	{
		font-size:0.2em;
		right:1.9em;
	}

	/* Obsolète */
	.OBS
	{
		display: none;
	}
}

@media screen and (min-width:568px) and (max-width:663px) and (orientation: landscape)    	/* 36em - Smartphones  	*/
{
	/* Header */
	header
	{
		margin: 0.5em 0;
	/*	border: 1px solid red;	/* DEBUG */
	}

	/* élements */

	.Flex2
	{
		width:35.5em;
		display:flex;
		justify-content:center;
		align-items:center;
		flex-wrap:wrap;
	}

	.Carte
	{
		width:9.88em;
		padding:0 0;
		margin-top:-0.875em;
		margin-bottom:2.4em;
	/*	border: 1px solid blue; */
	}

	.Title
	{
		font-size: 0.8em;
		padding-top: 1em;
	}

	.MLNE-MB
	{
		font-size:0.7em;
	}

	/* Menu - La note enchantée */

	.Menu-LNE i
	{
		top:0.3em;
	}

	.MLNE-MB i
	{
		top:0.43em;
	}

	.MLNE-F
	{
		font-size:0.5em;
	}

	.MLNE-MB
	{
		font-size:0.35em;
	}

	.Flex3
	{
		font-size:0.2em;
	}

	/* Décoration */

	.Deco-EL, .Deco-PL, .Deco-DL
	{
		width:29.5%;
		top: 0.5em;
		left:0.45em;
	}

	.Deco-ER, .Deco-PR, .Deco-DR
	{
		width:29.5%;
		top:0.5em;
		right:0.615em;
	}

	.P-Left
	{
		top:-1em;
		left:1em;
		font-size:0.133em;
	/*	border: 1px solid blue; */
	}

	.P-Right
	{
		top:-1em;
		right:1em;
		font-size:0.133em;
	/*	border: 1px solid red; */
	}

	/* Obsolète */
	.OBS
	{
		display: none;
	}
}

@media screen and (min-width:568px) and (max-width:663px) and (orientation: portrait)    	/* 36em - Smartphones  	*/
{
	/* Header */
	header
	{
		margin: 0.5em 0;
	/*	border: 1px solid red;	/* DEBUG */
	}

	/* élements */

	.Flex2
	{
		width:35.5em;
		display:flex;
		justify-content:center;
		align-items:center;
		flex-wrap:wrap;
	}

	.Carte
	{
		width:9.88em;
		padding:0 0;
		margin-top:-0.875em;
		margin-bottom:2.4em;
	/*	border: 1px solid blue; */
	}

	.Title
	{
		font-size: 0.8em;
		padding-top: 1em;
	}

	.MLNE-MB
	{
		font-size:0.7em;
	}

	/* Menu - La note enchantée */

	.Menu-LNE i
	{
		top:0.3em;
	}

	.MLNE-MB i
	{
		top:0.43em;
	}

	.MLNE-F
	{
		font-size:0.5em;
	}

	.MLNE-MB
	{
		font-size:0.35em;
	}

	.Flex3
	{
		font-size:0.2em;
	}

	/* Décoration */

	.Deco-EL, .Deco-PL, .Deco-DL
	{
		width:29.5%;
		top: 0.5em;
		left:0.45em;
	}

	.Deco-ER, .Deco-PR, .Deco-DR
	{
		width:29.5%;
		top:0.5em;
		right:0.615em;
	}

	.P-Left
	{
		top:-1em;
		left:1em;
		font-size:0.133em;
	/*	border: 1px solid blue; */
	}

	.P-Right
	{
		top:-1em;
		right:1em;
		font-size:0.133em;
	/*	border: 1px solid red; */
	}

	/* Obsolète */
	.OBS
	{
		display: none;
	}
}

@media screen and (min-width:360px) and (max-width:567px) and (orientation: landscape)    	/* 23em - Smartphones  	*/
{
	/* Header */
	header
	{
		margin: 0.5em 0;
	/*	border: 1px solid red;	/* DEBUG */
	}

	/* élements */

	.Flex2
	{
		width:22em;
	}

	#T-Bloc-Menu img
	{
		width:15em;
	}

	.Carte
	{
		width:6.88em;
		padding:0 0;
		margin-top:-0.875em;
		margin-bottom:2.3em;
	/*	border: 1px solid blue; */
	}

	.Title
	{
		font-size: 0.6em;
		padding-top: 1em; /* EDIT */
	}

	.MLNE-MB
	{
		font-size:0.4em;
	}

	/* Menu - La note enchantée */

	.Menu-LNE i
	{
		top:0.75em;
	}

	.MLNE-MB i
	{
		top:0.43em;
	}

	.MLNE-F
	{
		font-size: 0.53em;
	/*	border: 1px solid grey; */
	}

	.fab
	{
		font-size:0.9em;
	}

	.Flex3
	{
		font-size:0.2em;
	}

	/* Décoration */

	.Deco-EL, .Deco-PL, .Deco-DL
	{
		width:25.9%;
		top: 0.5em;
		left:0.48em;
	}

	.Deco-ER, .Deco-PR, .Deco-DR
	{
		width:25.9%;
		top:0.5em;
		right:0.615em;
	}

	.P-Left
	{
		top:-1em;
		left:1em;
		font-size:0.13em;
	/*	border: 1px solid blue; */
	}

	.P-Right
	{
		top:-1em;
		right:1em;
		font-size:0.13em;
	/*	border: 1px solid red; */
	}

	/* Footer */

	.ML, .CT
	{
		padding-bottom:1.4em;
		padding-top:0.65em;
	}

	.ML
	{
		padding-left:1.5em;
	}

	.CT
	{
		padding-right:1.5em;
	}

	/* Obsolète */
	.OBS
	{
		display: none;
	}
}

@media screen and (min-width:360px) and (max-width:567px) and (orientation: portrait)    	/* 23em - Smartphones  	*/
{
	/* Header */
	header
	{
		margin: 0.5em 0;
	/*	border: 1px solid red;	/* DEBUG */
	}

	/* élements */

	.Flex2
	{
		width:22em;
	}

	#T-Bloc-Menu img
	{
		width:15em;
	}

	.Carte
	{
		width:6.88em;
		padding:0 0;
		margin-top:-0.875em;
		margin-bottom:2.3em;
	/*	border: 1px solid blue; */
	}

	.Title
	{
		font-size: 0.6em;
		padding-top: 1em; /* EDIT */
	}

	.MLNE-MB
	{
		font-size:0.4em;
	}

	/* Menu - La note enchantée */

	.Menu-LNE i
	{
		top:0.75em;
	}

	.MLNE-MB i
	{
		top:0.43em;
	}

	.MLNE-F
	{
		font-size: 0.53em;
	/*	border: 1px solid grey; */
	}

	.fab
	{
		font-size:0.9em;
	}

	.Flex3
	{
		font-size:0.2em;
	}

	/* Décoration */

	.Deco-EL, .Deco-PL, .Deco-DL
	{
		width:25.9%;
		top: 0.5em;
		left:0.48em;
	}

	.Deco-ER, .Deco-PR, .Deco-DR
	{
		width:25.9%;
		top:0.5em;
		right:0.615em;
	}

	.P-Left
	{
		top:-1em;
		left:1em;
		font-size:0.13em;
	/*	border: 1px solid blue; */
	}

	.P-Right
	{
		top:-1em;
		right:1em;
		font-size:0.13em;
	/*	border: 1px solid red; */
	}

	/* Footer */

	.ML, .CT
	{
		padding-bottom:1.4em;
		padding-top:0.65em;
	}

	.ML
	{
		padding-left:1.5em;
	}

	.CT
	{
		padding-right:1.5em;
	}

	/* Obsolète */
	.OBS
	{
		display: none;
	}
}

@media screen and (min-width:320px) and (max-width:359px) and (orientation: portrait)    	/* 20em - Smartphones  	*/
{
	/* Header */
	header
	{
		margin: 0.5em 0;
	/*	border: 1px solid red;	/* DEBUG */
	}

	/* élements */

	.Flex2
	{
		width:18.8em;
	}

	#T-Bloc-Menu img
	{
		width:15em;
	}

	.Carte
	{
		width:5.91em;
		padding:0 0;
		margin-top:-0.109em;
		margin-bottom:2.3em;
	/*	border: 1px solid grey; /* DEBUG */
	}

	.Title
	{
		font-size: 0.45em;
	}

	.MLNE-MB
	{
		font-size:0.3em;
	}

	/* Menu - La note enchantée */

	.MLNE-F
	{
		font-size: 0.3em;
	/*	border: 1px solid grey; */
	}

	.Menu-LNE i
	{
		font-size:0.9em;
		top:0.82em;
	}

	.MLNE-MB i
	{
		top:0.395em;
	}

	.Flex3
	{
		font-size:0.33em;
	}

	/* Décoration */

	.Deco-EL, .Deco-PL, .Deco-DL
	{
		display:none;
	}

	.Deco-ER, .Deco-PR, .Deco-DR
	{
		display:none;
	}

	.P-Left
	{
		top:-1em;
		left:1em;
		font-size:0.125em;
	/*	border: 1px solid blue; */
	}

	.P-Right
	{
		top:0.5em;
		right:1em;
		font-size:0.125em;
	/*	border: 1px solid red; */
	}

	/* Footer */

	.ML, .CT
	{
		padding-bottom:1.4em;
		padding-top:0.65em;
	}

	.ML
	{
		padding-left:0.5em;
	}

	.CT
	{
		padding-right:0.5em;
	}

	/* Obsolète */

	.OBS
	{
		display: none;
	}
}

@media screen and (max-width:319px) and (orientation: portrait)    							/* 		Obsolète  		*/
{
	body
	{
		background-color:#579c87;
	}

	#T-Bloc-Menu, #B-Bloc, .Flex2
	{
		display: none;
	}

	.OBS
	{
		margin-top: 50%;
		color: #fdcb46;
		text-align: center;
	}
}